<?php
declare(strict_types=1);
# ENV file version
# Check for outdated .env files
putenv('VERSION=1');

#replace {PutYourTokenHere} with your token
putenv('TOKEN=PutYourTokenHere');

#replace {PutYourIDHere} with your token
#if you need add many admins use , delimiter like:
#putenv('ADMINS=116948493,116948493');
putenv('ADMINS=PutYourIDHere');

putenv('CHANNEL_USERNAME=DyarWeb');

putenv('BOT_USERNAME=DyarWeb_bot');

putenv('DB=json');
putenv('jsonDBDir=Database');

putenv('MEMORY_LIMIT=512M');

putenv('TIMEZONE=Asia/Tehran');